.price{
    font-weight: 600;
    padding-top: 5px;
    color: #404040;
}
.cource-description{
    font-size: 12px;
}

.course-info{
    padding-left: 20px;
}

.course-info-text{
    padding-left: 30px;
}
.card-columns {
    margin-top: 1em;
}
.class-lang{
    position: relative;
}

.lang{
    position: absolute;
}