.page-content{
    flex-basis: 90%;
    padding-left: 2em;
    padding-top: 5em;
}

.page-container{
    height: 100vh;
    background-color: white;
    position: relative;
}
.card-body{
    text-align: left;
}
a {
    color:#6d6d6d;
}

/* #root{
    background-image: url('../Resource/bcWall.jpg');
} */
.App{
    background-color: #4470BF;
    height: 100vh;
    padding: 0;
}

svg{
    margin-right: 10px;
}

.header-margin {
    height: 64px;
    background-color: #4470BF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}