.page-content{
    flex-basis: 90%;
    padding-left: 2em;
    padding-top: 1em;
}

.page-container{
    height: 100vh;
}
.card-body{
    text-align: left;
}
a {
    color:#6d6d6d;
}

/* #root{
    background-image: url('../Resource/bcWall.jpg');
} */
.App{
    background-color: #007bff;
}