
.sidebar{
    position: fixed;
    background-color: #4470BF;
}

.logout-button{
    /* position: fixed; */
    bottom: 0;
    /* width: 240px; */
}

.logout-button-blue{
    background-color: rgb(50, 155, 247);
    color: white;
    font-weight: 600;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.fa-2x {
    font-size: 1.5em;
}

.sidebar-course-title {
    padding-top: 4px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
}
.logout-btn {
    color: white;
}